################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CLDotNetCore/FileContentIndex
/.vs/CLDotNetCore/FileContentIndex/0109cb1a-2357-46ef-9d19-18ca931e55e9.vsidx
/.vs/CLDotNetCore/FileContentIndex/c1ce1d53-323a-42eb-bda9-3e12ccc2016e.vsidx
/.vs/CLDotNetCore/FileContentIndex/d8184580-27b2-4d57-ae7f-21a0ee56e960.vsidx
/.vs/CLDotNetCore/FileContentIndex/df792633-b26d-46b1-8596-fd1fb68d2215.vsidx
